:root {
    --primary: #3F4629;
    --secondary: #746E36;
    --tertiary: #2E3515;
    --gray: #444448;
    --aiwha-teal: #022E2D;
    --aiwha-gray: #323030;
    --medical-red: #7F1617;
    --eod-orange: #EC832C;

    --background: #0b0d0b;
    --text: #f2f4ed;
    --muted: #b9beb3;
}

body {

    

}