:root {
    --primary: #3F4629;
    --secondary: #746E36;
    --tertiary: #2E3515;
    --gray: #444448;
    --aiwha-teal: #022E2D;
    --aiwha-gray: #323030;
    --medical-red: #7F1617;
    --eod-orange: #EC832C;

    --background: #ffffff;
    --text: #131313;
    --muted: #3a3a3a;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
}

.heading{

    background: var(--background);

}

.heading-content{

    display: flex;

    align-items: center;
    
}